p{
  border: 1px solid #efebeb;
  padding: 10px;
  box-shadow: 1px 0.5px 1px 0.5px #efebeb;
}

button{
  background: #c0e3eb;
  padding: 5px 15px;
  border-radius: 20px;
  border: 1px solid #b3acac;
  cursor: pointer;
}
